<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
  <package id="DotNetNuke.Abstractions" version="9.10.2" targetFramework="net48" />
  <package id="DotNetNuke.Core" version="9.10.2" targetFramework="net48" />
  <package id="DotNetNuke.DependencyInjection" version="9.10.2" targetFramework="net48" />
  <package id="DotNetNuke.Instrumentation" version="9.10.2" targetFramework="net48" />
  <package id="DotNetNuke.Web" version="9.10.2" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
</packages>